* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

p {
    font-size: 20px;
}

/* Header */

.header {
    text-align: center;
    margin-top: 60px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.menu  a{
    color: #000;
    background-color: #fff;
    padding: 15px 20px; 
    margin: 20px;
}

/* Main */

/* Linha 1 */
.conteudo {
    display: grid;
    margin-top: 60px;
    grid-template-columns: 500px 500px;
    place-content: center;
}

.info {
    display: grid;
    text-align: right;
    align-content: center;
    gap: 20px;
    padding: 40px;
    background-color: white;
    justify-items: end;
}

.botao {
    text-align: center;
    background-color: #ee2211;
    border-radius: 4px;
    padding: 15px 30px;
    color: #ffff;
}

/* Linha 2 */

.vantagens-bikcraft {
    text-align: right;
    align-self: center;
    padding: 40px;
    color: #c6c6c6;
    font-size: 64px;
}

.container-vantagens {
    background-color: #ffff;
    padding: 40px;
}

.grid {
    display: grid;
    place-items: center left;
    grid-template-columns:auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.titulo-vantagens, .texto-vantagens {
    grid-column: 2;
}

/* Footer */

.footer {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    margin-top: 60px;
}